
  
  body textarea {
    width: 1000px;
    height: 300px;
    resize: none;
    border: 1px solid #800080;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px; 
    background-color: #222;
    color: aliceblue;
    margin-left: 350px;
  }

  
  /* Dark mode styles */
 body.light-mode textarea {
    background-color: #f0f0f0;
    color: black;
  }
  
  
  
  #save-buttons {
    margin-top: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:1280px;
  }
  
  #save-buttons:hover {
    background-color: #6a006a; /* Darker shade of purple on hover */
  }
  
  

body.light-mode .plan {
  background-color: #f0f0f0;
}

.plan {
  width: 1000px; /* Adjust width as needed */
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 350px;
 
}

.plan th {
  text-align: left;
  background-color: #800080;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.plan td {
  padding: 10px;
}

.plan-details {
  margin-top: 20px;
}

#details {
  padding: 10px;
  font-size: 20px;
}
#premium-details{
  
  padding: 10px;
  font-size: 20px;
}

.edit-container {
  text-align: right;
  
}

.edit-button, .delete-button{
  background-color: #800080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 200px;
}

.edit-button,.delete-button:hover {
  background-color: #6a006a;
}

@media screen and (max-width: 768px) {
  .plan {
      width: 90%; /* Adjusted width for smaller screens */
      margin-left: 5%; /* Adjusted margin for smaller screens */
      padding: 15px;
  }

  .edit-container {
      text-align: center;
  }

  body textarea {
      width: 90%; /* Adjusted width for smaller screens */
      margin-left: 5%; /* Adjusted margin for smaller screens */
  }

  #save-buttons {
      margin-left: 5%; /* Adjusted margin for smaller screens */
  }

  .edit-button {
      margin-right: 5%; /* Adjusted margin for smaller screens */
  }
}

.title8{
  color:rgb(86, 84, 84);
      margin-left:300px;
      font-family:cursive;
  }
  @media screen and (max-width: 768px) {
      .title8 {
          text-align: center;
          font-size: 2em; /* Adjust font size as needed */
          margin-top: 1em;
          margin-left: 0; /* Ensure no left margin */
          margin-right: 0; /* Ensure no right margin */
      }}
  