.title{
color:rgb(86, 84, 84);
    margin-left:300px;
    font-family:cursive;
}
@media screen and (max-width: 768px) {
    .title {
        text-align: center;
        font-size: 2em; /* Adjust font size as needed */
        margin-top: 1em;
        margin-left: 0; /* Ensure no left margin */
        margin-right: 0; /* Ensure no right margin */
    }}


    .box i
    {
        color: #800080;
    }
    .box a
    {
        text-decoration: none;
    }
    .box-container   
    {
        margin-top:80px;
    }

