.title7{
    color:rgb(86, 84, 84);
        margin-left:300px;
        font-family:cursive;
    }
    @media screen and (max-width: 768px) {
        .title7 {
            text-align: center;
            font-size: 2em; /* Adjust font size as needed */
            margin-top: 1em;
            margin-left: 0; /* Ensure no left margin */
            margin-right: 0; /* Ensure no right margin */
        }}
        .text1 {
            color: #ddd;
            font-size: 25px;
            text-align: center;
            margin: 40px;
        }
        .text2 {
            color: #ddd;
            font-size: 25px;
            text-align: center;
            margin: 40px;
        }
        