#save-button-2 {
    margin-top: 10px;
    padding: 10px 20px;
    margin-left:1000px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
 
}

#save-button-2:hover {
    background-color: #6a006a; /* Darker shade of purple on hover */
}

body.light-mode .plan {
    background-color: #f0f0f0;
}

.plan {
    width: 100%; /* Adjust width as needed */
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.plan th {
    text-align: left;
    background-color: #800080;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.plan td {
    padding: 10px;
}

.plan-details {
    margin-top: 20px;
}

#details {
    padding: 10px;
    font-size: 20px;
}

.edit-container {
    text-align: right;
}

.edit-button {
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #6a006a;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .plan {
        padding: 15px;
    }

    .plan th,
    .plan td {
        padding: 8px;
    }

    .edit-container {
        text-align: center;
    }
}
