.top-content {
    width: 1050px;
    margin-left: 320px;
    ;
}


.top-texts {
    width: 850px;
    margin-left:25px;
    gap: 40px;
    align-items: center;

}

.top-text {
    width: 150px;
    align-items: center;
    text-align: center  ;
}

.actions {
    width: 110px;
    padding: 11px;
}

.list-item {

    width: 1050px;
}

.text {
    text-align: start;
    width: 150px;
}

.list-item a {
    gap: 65px;
    width: 990px;
    margin-right: 0px;

}

.list-item i {
    margin-left: 5px;
}



.list-container {
    margin-left: 320px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1040px;

}
