<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/User/User CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Contact</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/User/User CSS/contact.css">
    <script src="/User/User js/Sidenavbar.js"></script>
    <link rel = "stylesheet" type="text/css" href = "/User/User CSS/UserHomePage.css">
    <link rel="stylesheet" type="text/css" href="/User/User CSS/CommunityGuidlines.css">
    <link rel="stylesheet" type="text/css" href="/User/User CSS/contact.css">
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>

</head>
<body>
    <%- include('../includes/sidenav&navbars.ejs')%>
    <!-- Additional content for the contact page -->
    <div class="Contacts">
    <h1>How to reach Soundspot 📲</h1>
    <div class="contact">
        <div class="item">
            <i class="fab fa-instagram"></i><br>
            <a href="https://www.instagram.com/_soundspot_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram Account</a>
        </div>
        <div class="item">
            <i class="fab fa-facebook"></i><br>
            <a href="https://www.facebook.com/profile.php?id=61558330435298&mibextid=ZbWKwL" target="_blank">Facebook Account</a>
        </div>
        <div class="item">
            <i class="fab fa-twitter"></i><br>
            <a href="https://www.twitter.com/SoundSpot/" target="_blank">Twitter Account</a>
        </div>
        <div class="item">
            <i class="fas fa-envelope"></i><br>
            <a href="mailto:emailsspamm101@gmail.com">SoundSpot@gmail.com</a>
        </div>
    </div>
    <div id="con"><h1>Company Overview</h1></div>
    <div class="aboutus">
    <pre>Introducing SoundSpot, our innovative music streaming web app! Explore a vast library of songs and playlists, 
        create personalized playlists, and enjoy ad-free listening with premium features like high-quality audio and 
        offline mode. Connect with friends, share music, and discover new tracks together. Join us on SoundSpot for 
        the ultimate music experience! 👌</pre>
    </div>
</div>   
</body>
</html>
