<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/User/User Css/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <script src="/User/User js/playlistPage.js"></script>
    <script src="/User/User js/Sidenavbar.js"></script>
    <link rel="stylesheet" href="/User/User CSS/history.css">
    <link rel="stylesheet" href="/User/User CSS/SongPlaying.css">
    <link rel="stylesheet" href="/User/User CSS/playlistPage.css">
    <script src="/User/User js/SongPlaying.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>
</head>
<body>
    <%- include('../includes/sidenav&navbarsUSER.ejs')%>
  <div class="container">
    <h1>Liked Songs</h1>
    <ul>
        <li>
            <div class="song">
                <img src="/photo/sherry.png" id="imggg" alt="Song Image"  onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing1" onclick="toggleAudio()">Kalam Eineh</div>
                    <div class="artist">Sherine</div>
                    <audio id="audioPlayer" src="/audio/Sherine - Kalam Eineh _ شيرين - كلام عينيه (320).mp3"></audio>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/Say_You_Wont_Let_Go.jpg" alt="Song Image" onclick="two()">
                <div class="song-info">
                    <div class = "song-title" id="sing">Say you wont let go</div>
                    <div class = "artist">James Arthur</div>
                    <audio id="audioPlayer" src="/audio/James Arthur - Say You Wont Let Go.mp3"></audio>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/blindinglights.jpeg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Blinding Lights</div>
                    <div class="artist">The Weekend</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/goldenhour.png" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Golden Hour</div>
                    <div class="artist">JVKE</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/turky.jpg" id="imgggg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Gökçe</div>
                    <div class="artist" id="artist">Tuttu Fırlattı</div>
                    <audio id="audioPlayer" src="../audio/Gökçe - Tuttu Fırlattı (320).mp3"></audio>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/eth.jpeg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Ethereal</div>
                    <div class="artist">Txmy</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/nourelein.jpeg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Nour ElEin</div>
                    <div class="artist">Amr Diab</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/nefsyahebek.png" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">Nefsy Ahebek</div>
                    <div class="artist">Cairokee</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/maxresdefault.jpg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title" id="sing">детство</div>
                    <div class="artist">Rauf Faik</div>
                </div>
            </div>
        </li>
        <li>
            <div class="song">
                <img src="/photo/fayroz.jpg" alt="Song Image" onclick="toggleAudio()">
                <div class="song-info">
                    <div class="song-title">Nasam alayna el hawa</div>
                    <div class="artist">Fayrouz</div>
                </div>
            </div>
        </li>
        </ul>
</div>
<div class="maximizedsongcontainer">
    <button id="page" onclick="minimizePage()" class="tool">
        <i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center" id="icons"></i>
        <span class="tooltipptext">Exit Full Screen</span>
    </button>
    <img id="pic" src="/photo/sherry.png">
    <h1 id="songh1">Kalam Eineh</h1>
    <h3 id="songh3">Sherine</h3>
</div>

<div class="minimizedsongcontainer">
    <img id="songpic" src="/photo/sherry.png">
    <div class="songinfo">
        <h1 id="songname">Kalam Eineh<i id="sing" class="fa-solid fa-headphones-simple fa-beat" style="--fa-animation-duration: 0.5s;"></i></h1><br>
        <h3 id="artistname">Sherine</h3>
    </div>
    <div class="player-bar" id="player-bar">
        <button id="likes"><i class="fa-solid fa-heart" id="icons"></i></button>
        <button id="shuffle" class="tooltip">
            <i class="fa-solid fa-shuffle" id="icons"></i>
            <span class="tooltiptext">Shuffle</span>
        </button>
        <button id="backward" onclick="backwardAudio()"><i class="fa-solid fa-backward" id="icons"></i></button>
        <button id="play" onclick="toggleAudio()"><i class="fa-solid fa-play" id="icons"></i></button>
        <button id="forward"><i class="fa-solid fa-forward" id="icons"></i></button>
        <button id="high"><i class="fa-solid fa-volume-high" id="icons"></i></button>
        <button id="lyrics" class="tooltip">
            <i class="fa-solid fa-pen" id="icons"></i>
            <span class="tooltiptext">Lyrics</span>
        </button>
        <button id="maxpage" onclick="maximizePage()" class="tooltip">
            <i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center" id="icons"></i>
            <span class="tooltiptext">Full Screen</span>
        </button>            
        <div class="time-display">
            <span id="current-time">00:00</span>
            <input type="range" id="volumeControl" class="accent" value="0" min="0" max="1" step="0.0000001" oninput="seekTo(this.value)" >               
            <span id="duration">00:00</span>
        </div>
    </div>
    <audio id="audioPlayer" src="/audio/Sherine - Kalam Eineh _ شيرين - كلام عينيه (320).mp3"></audio>
</div>
</body>
</html>





