<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/User CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="stylesheet" href="/CSS/User CSS/SongPlaying.css">
    <script src="/JavaScript/User js/SongPlaying.js"></script>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <script src="/Javascript/User js/playlistPage.js"></script>
    <script src="/Javascript/User js/Sidenavbar.js"></script>
    <link rel="stylesheet" href="/CSS/User CSS/history.css">
    <link rel="stylesheet" href="/CSS/User CSS/SongPlaying.css">
    <link rel="stylesheet" href="/CSS/User CSS/playlistPage.css">
    <script src="/Javascript/User js/SongPlaying.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script></head>
<body>
    <%- include('../includes/sidenav&navbarsUSER.ejs')%>
    <div class="container">
      <h1>Liked Songs</h1>
      <ul>
          <li>
              <div class="song">
                  <img src="/photo/sherry.png" id="imggg" alt="Song Image"  onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing1" onclick="toggleAudio()">Kalam Eineh</div>
                      <div class="artist">Sherine</div>
                      <audio id="audioPlayer" src="/audio/Sherine - Kalam Eineh _ شيرين - كلام عينيه (320).mp3"></audio>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/Say_You_Wont_Let_Go.jpg" alt="Song Image" onclick="two()">
                  <div class="song-info">
                      <div class = "song-title" id="sing">Say you wont let go</div>
                      <div class = "artist">James Arthur</div>
                      <audio id="audioPlayer" src="/audio/James Arthur - Say You Wont Let Go.mp3"></audio>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/blindinglights.jpeg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Blinding Lights</div>
                      <div class="artist">The Weekend</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/goldenhour.png" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Golden Hour</div>
                      <div class="artist">JVKE</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/turky.jpg" id="imgggg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Gökçe</div>
                      <div class="artist" id="artist">Tuttu Fırlattı</div>
                      <audio id="audioPlayer" src="../audio/Gökçe - Tuttu Fırlattı (320).mp3"></audio>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/eth.jpeg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Ethereal</div>
                      <div class="artist">Txmy</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/nourelein.jpeg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Nour ElEin</div>
                      <div class="artist">Amr Diab</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/nefsyahebek.png" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">Nefsy Ahebek</div>
                      <div class="artist">Cairokee</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/maxresdefault.jpg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title" id="sing">детство</div>
                      <div class="artist">Rauf Faik</div>
                  </div>
              </div>
          </li>
          <li>
              <div class="song">
                  <img src="/photo/fayroz.jpg" alt="Song Image" onclick="toggleAudio()">
                  <div class="song-info">
                      <div class="song-title">Nasam alayna el hawa</div>
                      <div class="artist">Fayrouz</div>
                  </div>
              </div>
          </li>
          </ul>
  </div>
  <%- include('../includes/SongPlaying.ejs')%>
</body>
</html>
