<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Admin/Admin%20CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/Admin/Admin%20CSS/free.css">
    <script src="/Admin/Admin%20JavaScript/Sidenavbar.js"></script>

    <link rel="stylesheet" href="/Admin/Admin%20CSS/ManageSongs.css">
    <link rel="stylesheet" href="/Admin/Admin%20CSS/contact.css">
    <script src="/Admin/Admin%20JavaScript/contact.js"></script>
    <script src="/Admin/Admin%20JavaScript/german.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>

</head>
<body>
    <%- include('../includes/sidenav&navbarsADMIN.ejs')%>
    <h1 class="title3">Contacts</h1>
    <div class="container">
        <textarea id="resizable-textarea-5" ></textarea>
        <br>
        <button id="save-button-5">Save</button>
    </div>
</body>
</html>
