<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/Admin%20CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/CSS/Admin%20CSS/home.css">
    <link rel="stylesheet" href="/CSS/Admin%20CSS/ManageUsers.css">
    <script src="/JavaScript/Admin%20JavaScript/Sidenavbar.js"></script>
    <link rel="stylesheet" href="/CSS/Admin%20CSS/managePlaylist.css">
    <script src="/JavaScript/Admin%20JavaScript/managePlaylist.js"></script>
    <script src="/JavaScript/Admin%20JavaScript/german.js"></script>

</head>

<body>
    <%- include('../includes/sidenav&navbarsADMIN.ejs')%>
        <div class=" main-content">
            <div class="top-content">
                <a href="/views/AdminPart/addplaylist" title="Add Playlist">
                    <i class="fa-solid fa-plus" id="plus"></i>
                </a>
                <div class="top-texts">
                    <div class="top-text">Name</div>
                    <div class="top-text">Artist</div>
                    <div class="top-text">Duration</div>
                    <div class="top-text">Creator</div> 
                </div>
                <div class="actions">
                    <div class="checkbox" id="selectAllCheckbox">
                        <input type="checkbox" id="topCheckbox" class="checkbox-input" />
                        <span class="checkbox-custom"></span>
                    </div>
                    <i class="fa-solid fa-pen" title="edit" id="edit-icon"></i>
                    <i class="fa-solid fa-trash" title="Delete" id="delete-icon"></i>
                </div>
            </div>
            <div class="list-container">
                <div class="list-item">
                    <div class="content">
                        <i class="fa-solid fa-music"></i>
                        <div class="text">jane_smith</div>
                        <div class="text">Jane Smith</div>
                        <div class="text">Yesterday</div>
                        <input class="custom-checkbox" type="checkbox" id="userCheckbox_jane_smith"
                            data-username="jane_smith">
                        <i class="fa-solid fa-chevron-right toggle-button"></i>
                    </div>
                </div>
                <div class="user-info-container">
                    <div class="user-info">
                        <div class="general-content">
                            <div class="generalContent-header">
                                <div>Artist</div>
                                <div>Album</div>
                                <div>Duration</div>
                                <div>Genre</div>
                            </div>
                            <div class="song">
                                <i class="fa-solid fa-music"></i>
                                <div>Ed Sheeran</div>
                                <div>รท (Divide)</div>
                                <div>3:57</div>
                                <div>Pop</div>
                            </div>
                            <div class="song">
                                <i class="fa-solid fa-music"></i>
                                <div>The Weeknd</div>
                                <div>After Hours</div>
                                <div>3:44</div>
                                <div>R&B</div>
                            </div>
                            <div class="song">
                                <i class="fa-solid fa-music"></i>
                                <div>Journey</div>
                                <div>Escape</div>
                                <div>4:11</div>
                                <div>Rock</div>
                            </div>
                            <div class="song">
                                <i class="fa-solid fa-music"></i>
                                <div>Queen</div>
                                <div>Greatest Hits</div>
                                <div>5:55</div>
                                <div>Rock</div>
                            </div>
                            <div class="song">
                                <i class="fa-solid fa-music"></i>
                                <div>Nirvana</div>
                                <div>Nevermind</div>
                                <div>5:01</div>
                                <div>Rock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="delete-popup" id="delete-popup">
                <h2>Confirm Deletion</h2>
                <p>Are you sure you want to delete this item?</p>
                <button id="ok-delete" class="btn">OK</button>
                <button id="cancel-delete" class="btn">CANCEL</button>
            </div>

            <div class="select-item-popup">
                <div class="popup-content" id="one-edit">
                    <h2>Please select one playlist at a time</h2>
                </div>
            </div>
            <div class="select-item-popup">
                <div class="popup-content" id="select-item">
                    <h2>No playlists</h2>
                </div>
            </div>
            <div class="select-item-popup">
                <div class="popup-content" id="select-item-popup">
                    <h2>Please select an item</h2>
                </div>
            </div>
            <div class="select-item-popup">
                <div class="popup-content" id="edit-popup">
                    <div class="editpopup-labels">
                        <label id="add-edit">Add</label>
                        <label id="delete-edit">Delete</label>
                    </div>
                    <div class="generalContent-header">
                        <div>Artist</div>
                        <div>Album</div>
                        <div>Duration</div>
                        <div>Genre</div>

                    </div>
                    <div class="playlist-display">
                        <div class="add-playlist-div">
                            <div class="song">
                                <div>Taylor Swift</div>
                                <div>1989</div>
                                <div>3:31</div>
                                <div>Pop</div>
                                <i class="fa-solid fa-plus add" id="plus-one"></i>

                            </div>
                            <div class="song">
                                <div>Imagine Dragons</div>
                                <div>Night Visions</div>
                                <div>3:07</div>
                                <div>Alternative</div>
                                <i class="fa-solid fa-plus add" id="plus-two"></i>

                            </div>
                            <div class="song">
                                <div>Michael Jackson</div>
                                <div>Thriller</div>
                                <div>5:57</div>
                                <div>Pop</div>
                                <i class="fa-solid fa-plus add" id="plus-three"></i>

                            </div>
                        </div>
                        <div class="delete-playlist-div" style="display: none;">
                            <div class="song">
                                <div>Ed Sheeran</div>
                                <div>รท (Divide)</div>
                                <div>3:57</div>
                                <div>Pop</div>
                                <i class="fa-solid fa-trash delete" title="Delete" id="del-one"></i>

                            </div>

                            <div class="song">
                                <div>The Weeknd</div>
                                <div>After Hours</div>
                                <div>3:44</div>
                                <div>R&B</div>
                                <i class="fa-solid fa-trash delete" title="Delete" id="del-two"></i>

                            </div>

                            <div class="song">
                                <div>Journey</div>
                                <div>Escape</div>
                                <div>4:11</div>
                                <div>Rock</div>
                                <i class="fa-solid fa-trash delete" title="Delete" id="del-three"></i>

                            </div>
                            <div class="song">
                                <div>Queen</div>
                                <div>Greatest Hits</div>
                                <div>5:55</div>
                                <div>Rock</div>
                                <i class="fa-solid fa-trash delete" title="Delete" id="del-four"></i>

                            </div>
                            <div class="song">
                                <div>Nirvana</div>
                                <div>Nevermind</div>
                                <div>5:01</div>
                                <div>Rock</div>
                                <i class="fa-solid fa-trash delete" title="Delete" id="del-five"></i>

                            </div>
                        </div>
                    </div>
                    <button id="save" class="btn">SAVE</button>
                    <button id="cancel" class="btn">CANCEL</button>
                </div>

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
</body>

</html>