<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/Admin%20CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/CSS/Admin%20CSS/home.css">
    <script src="/JavaScript/Admin%20JavaScript/Sidenavbar.js"></script>
    <link rel="stylesheet" href="/CSS/Admin%20CSS/ManageSongs.css">
    <script src="/JavaScript/Admin%20JavaScript/ManageSongs.js"></script>
    <script src="/JavaScript/Admin%20JavaScript/german.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>

</head>
<body>
    <%- include('../includes/sidenav&navbarsADMIN.ejs')%>
    <h1 class="title">Manage Tracks</h1>
    <div class="main-content">
        <div class="box-container">
            <div class="box">
                <a href="song">
                    <i class="fa-solid fa-headphones"></i>
                    <div class="text">Manage Songs</div>
                </a>
            </div>
            <div class="box">
                <a href="managePlaylist">
                    <i class="fa-solid fa-sliders"></i>
                    <div class="text100">Manage playlists</div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="settings-popup-container">
        <div class="settings-popup">
            <h3>Settings</h3>

 
            <h4>Change Language</h4> 
        <div id="google_translate_element"></div>
      
    
   
        <div class="button-group">
            <button id="save-button">Save</button>
            <button id="cancel-button">Cancel</button>
        </div>
        </div>
    </div>
</body>
</html>
