<div class="sidebar">
    <button onclick="changeLogo()" id="custom-sidebar-toggle"> 
        <img id="custom-sidebar-img" src="/photo/menu.png"  class="dark-mode-img" alt="Button Image">
        <img id="custom-sidebar-img" src="/photo/menu (1).png"  class="light-mode-img" alt="Button Image">
    </button>

    <a href="home" id="trial">
        <img id="trial-img" src="/photo/output-onlinepngtools.png" alt="SoundSpot Logo">
    </a>
    <a class="text-a" href="ManageUsers">
        <i class="fas fa-users dark-mode-img  icons"></i>
        <span class="t">Manage Users</span>
    </a>
    <a class="text-a" href="ManageSongs">
        <i class="fa-solid fa-music icons"></i>
        <span class="t">Manage Songs</span>
    </a>
    <a class="text-a" href="Reports">
        <i class="fa-solid fa-chart-column  icons"></i>
        <span class="t">Reports</span>
    </a>
    <a class="text-a" href="premium">
        <i class="fa-solid fa-wallet icons"></i>
        <span class="t">Plans</span>
    </a>
    <a class="text-a" href="CompanyOverview">
        <i class="fa-regular fa-newspaper icons"></i>
        <span class="t">Company Overview</span>
    </a>
    <a class="text-a" href="CommunityGuidelinesAdmin">
        <i class="fa-solid fa-file-signature icons"></i>
        <span class="t">Community Guidelines</span>
    </a>
    <a class="text-a" href="Badges">
        <i class="fa-solid fa-ribbon"></i>
        <span class="t">Badges</span>
    </a>
</div>


</div>
<div class="navbar">
    <div class="search-bar" id="searchBar" style="display: none;">
        <input type="text" placeholder="Search...">
        <i class="fas fa-search search-icon"></i>
    </div>
    <div class="navbar-icons">
        <button id="search-button" class="search-button"></button>
     
        <a href="https://app.crisp.chat/website/426af94c-e0f5-41fe-890a-0a360c3921f5/inbox/" target="_blank">
            <img id="chat-icon" src="/photo/chat.png" alt="Chat Icon">
        </a>
        <div id="profile">
            <img id="profile-icon" src="/photo/cat.jpg">
            <div class="profile_dropDownMenu">
                <nav>
                    <div class="menu-item">
                        <img src="/photo/user.png" alt="Profile Icon" class="dark-mode-img"> 
                        <img src="/photo/user (2).png" alt="Profile Icon" class="light-mode-img"> 
                        <a href="#">Profile</a>
                    </div>
                    
                    <div class="menu-item">
                        <img src="/photo/view.png" alt="Profile Icon" class="dark-mode-img"> 
                        <img src="/photo/eye.png" alt="Profile Icon" class="light-mode-img"> 
                        <a href="#">Views as</a>
                    </div>
                    <div class="menu-item"> 
                        <img src="/photo/settings-gear-icon.png" alt="Profile Icon" class="dark-mode-img"> 
                        <img src="/photo/settings.png" alt="Profile Icon" class="light-mode-img"> 
                        <a href="#" id="settings-button">Settings</a>
                    </div>
                    <div class="menu-item">
                        <img src="/photo/brightness.png" alt="Profile Icon" class="dark-mode-img"> 
                        <img src="/photo/brightness (2).png" alt="Profile Icon" class="light-mode-img"> 
                        <a href="#">Light Mode</a>
                        <button id="toggle-light-mode"></button>
                    </div>
                    <div class="menu-item">
                        <img src="/photo/exit.png" alt="Profile Icon" class="dark-mode-img"> 
                        <img src="/photo/exit (2).png" alt="Profile Icon" class="light-mode-img">
                        <a href="../../Login form/Index.html">Log Out</a>
                    </div>
                </nav>
            </div>
            

    </div>
</div>
</div>
<div class="settings-popup-container">
    <div class="settings-popup">
        <h3>Settings</h3>
        <h4>Change Language</h4> 
    <div id="google_translate_element"></div>
    <div class="button-group">
        <button id="save-button">Save</button>
        <button id="cancel-button">Cancel</button>
    </div>
    </div>
</div>
