<div class="maximizedsongcontainer" style="display: none;">
    <button id="page" onclick="minimizePage()" class="tool">
        <i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center" id="icons"></i>
        <span class="tooltipptext">Exit Full Screen</span>
    </button>
    <img id="pic" src="" alt="Song Image">
    <h1 id="songh1">Song Title</h1>
    <h3 id="songh3">Artist Name</h3>
</div>
<div class="minimizedsongcontainer" style="display: none;">
    <img id="songpic" src="" alt="Song Image">
    <div class="songinfo">
        <h1 id="songname">Song Title<i id="sing" class="fa-solid fa-headphones-simple fa-beat" style="--fa-animation-duration: 0.5s;"></i></h1><br>
        <h3 id="artistname">Artist Name</h3>
    </div>
    <div class="player-bar" id="player-bar">
        <button id="likes"><i class="fa-solid fa-heart" id="icons"></i></button>
        <button id="shuffle" class="tooltip">
            <i class="fa-solid fa-shuffle" id="icons"></i>
            <span class="tooltiptext">Shuffle</span>
        </button>
        <button id="backward" onclick="backwardAudio()"><i class="fa-solid fa-backward" id="icons"></i></button>
        <button id="play" onclick="toggleAudio()"><i class="fa-solid fa-play" id="icons"></i></button>
        <button id="forward"><i class="fa-solid fa-forward" id="icons"></i></button>
        <button id="high"><i class="fa-solid fa-volume-high" id="icons"></i></button>
        <button id="lyrics" class="tooltip">
            <i class="fa-solid fa-pen" id="icons"></i>
            <span class="tooltiptext">Lyrics</span>
        </button>
        <button id="maxpage" onclick="maximizePage()" class="tooltip">
            <i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center" id="icons"></i>
            <span class="tooltiptext">Full Screen</span>
        </button>            
        <div class="time-display">
            <span id="current-time">00:00</span>
            <input type="range" id="volumeControl" class="accent" value="0" min="0" max="1" step="0.01" oninput="seekTo(this.value)" >               
            <span id="duration">00:00</span>
        </div>
    </div>
    <audio id="audioPlayer" src="data-song"></audio>
</div>