/* 


.cursive-titling {
  
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
   
}
.comphoto {
    width: 25%;
    height: 600px;
   margin-top:-100px;
}


.conrs {
    display: flex;
    align-items: center; 
}

.comphoto {
    display: inline-block; 
    vertical-align: middle;
}

.text{
    margin-top:0;
}


h2 {
    font-weight: bold;
}

.commguide {
    margin: 0 auto;
    padding: 20px;
    text-align: left;

}

       


@media (min-width: 768px) {
    h1, h2 ,p{
        margin-left: 270px; 
   p{
        margin-left: 290px; 
    }

    .commguide {
        padding: 40px;
        margin-left: 260px; 
       
    }

}


@media (max-width: 480px) {
    h1, h2, p {
        margin-left: 40%; 
    }

    .commguide {
        padding: 2%; 
        margin-left: 5%;
        margin-right: 5%;
      
    }
} 
/* Base styles that apply when no specific media query condition is met */
.communityguide {
    margin-top: -4%;
}

.containers h1 {
    color:white;
    text-align: center;
}



.commguide {
    border-style: solid;
    padding: 20px; /* Reduced padding for smaller screens */
    border-color: #222;
    color: white;
    margin-left: 20px; /* Reduced margin for better mobile view */
    margin-right: 20px;
    background-color: #333;
    overflow: auto;
}

.light-mode .commguide {
    background-color: white;
    color: black;
    border-color: #c9c9c9;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    h1, h2 {
        margin-left: 260px; /* Original margin for larger screens */
    }

    .commguide {
        padding: 40px; /* Original padding for larger screens */
        margin-left: 260px; /* Original margin for larger screens */
    }
}

/* Additional media query for very small screens */
@media (max-width: 480px) {
    h1, h2 {
        margin-left: 10px; /* Even smaller margin for very small devices */
    }

    .commguide {
        padding: 10px; /* Smaller padding for very small devices */
        margin-left: 10px; /* Smaller margin for very small devices */
    }
}
