<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/User/User CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/User/User CSS/Userhomepage.css">
    <script src="/User/User js/Sidenavbar.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>
</head>

<body>
  <%- include('includes/sidenav&navbars.ejs')%>

  <div class="container">
    <h1 class="greeting">Hello <%= user.username %>!<br>What would you like to listen to today?</h1>

    <a class="text-a" href="Songs.ejs">
      <div class="unit">
        <img src="/photo/songs.jpg" alt="Songs">
        <div class="overlay"></div>
        <p class="text">Songs</p>
      </div>
    </a>

    <a class="text-a" href="ManagePlaylists.ejs">
      <div class="unit">
        <img src="/photo/playlists.jpg" alt="Playlists">
        <div class="overlay"></div>
        <p class="text">Playlists</p>
      </div>
    </a>

    <a class="text-a" href="history.ejs">
      <div class="unit">
        <img src="/photo/history.jpg" alt="History">
        <div class="overlay"></div>
        <p class="text">History</p>
      </div>
    </a>

    <a class="text-a" href="recap.ejs">
      <div class="unit">
        <img src="/photo/recap.jpg" alt="Recap">
        <div class="overlay"></div>
        <p class="text">Recap</p>
      </div>
    </a>

    <hr>
    <div class="row">
      <h2>New Releases</h2>
      <div class="card">
        <img src="/photo/Artist-Designed Album Covers 2.webp" alt="Album 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Album Title</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/Dark_Side_of_the_Moon.png" alt="Album 2">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Album Title</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/1_EBOL4lka5QjcYoxj6AHp-g.png" alt="Album 3">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Album Title</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/images.jpg" alt="Album 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Album Title</p>
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Recommended for You</h2>
      <div class="card">
        <img src="/photo/Artist-Designed Album Covers 2.webp" alt="Artist 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/Dark_Side_of_the_Moon.png" alt="Artist 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/1_EBOL4lka5QjcYoxj6AHp-g.png" alt="Artist 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/images.jpg" alt="Artist 1">
        <div class="content">
          <h3>Artist Name</h3>
          <p>Genre</p>
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Recommended for You</h2>
      <div class="card">
        <img src="/photo/Artist-Designed Album Covers 2.webp" alt="Artist 1">
        <div class="content">
          <h3>Mix name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/Dark_Side_of_the_Moon.png" alt="Artist 1">
        <div class="content">
          <h3>Mix name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/1_EBOL4lka5QjcYoxj6AHp-g.png" alt="Artist 1">
        <div class="content">
          <h3>Mix name</h3>
          <p>Genre</p>
        </div>
      </div>
      <div class="card">
        <img src="/photo/images.jpg" alt="Artist 1">
        <div class="content">
          <h3>Mix name</h3>
          <p>Genre</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
