

#save-button-4 {
    margin-top: 10px;
    padding: 10px 20px;
    margin-left:1280px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

#save-button-4:hover {
    background-color: #6a006a; /
}


@media screen and (max-width: 768px) {
  
    #resizable-textarea-4 {
        width: 325px;
        margin: 0 auto;
        resize: vertical;
        overflow: auto;
        margin-left:130px
    }

    #save-button-4 {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        background-color: #800080;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
