@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

.main-container {
    margin-top: 50px;
    transition: transform 0.5s ease;
    margin-left: 10px;
    margin-right: 200px;
}

.list-container {
    width: 600px;
    height: 400px;
    margin-left:350px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 80px;
    border-radius: 19px;
    background-color: #1a1a1a;
    font-size: 25px;
    padding: 20px;
    margin-top: 5px;
    border: 1.5px solid #464446;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 25px;
}


.list-item i {
    color: #800080;
    font-size: 40px;
    margin-right: 10px;
}
.list-item a {
    text-decoration: none; 
    display: flex;
    align-items: center;
}

.text {
    color: #ddd;
    font-size: 25px;
    text-align: center;
    margin: 0; 
    flex-grow: 1;
}

.btn {
    background-color: #852b85;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #660066;
}





















.list-item:hover {
    /* check */
    background-color: #333;
    font-weight: bold;
    text-decoration: none;
    color: #852b85;
}

body.light-mode .list-item {
    /* check */
    background-color: white;
    border: 2px solid #852b85;
    color: #852b85;
}

body.light-mode .text {
    color: #000;
}

body.light-mode .list-item:hover {
    background-color: #cccbcb;
}


/* Icon scaling on hover */
.list-item:hover i {
    animation: scaleIcon 0.5s ease forwards;
}

/* Light mode styles */
body.light-mode .list-item {
    background-color: white;
    border: 2px solid #852b85;
    color: #852b85;
}

body.light-mode .text {
    color: #000;
}

body.light-mode .list-item:hover {
    background-color: #cccbcb;
}
