body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ddd;
    animation: fadeIn 1s ease-in;
}

.sidebar a:hover {
    color: #c11dc1;
    background-color: #333;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    color: #ddd;
    padding: 20px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: slideInLeft 0.5s ease-out;
}

#trial img {
    width: 200px;
    height: auto;
    display: block;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;

}

.sidebar h2 {
    margin-top: 0;
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;


}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #ddd;
    transition: background-color 0.3s;
    border-radius: 10px;
    margin-top: 20px;
    font-size: large;
}

.sidebar a img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}



.sidebar a:first-child:hover {
    background-color: transparent;
    cursor: default;
}

.sidebar.light-mode a:first-child:hover {
    background-color: transparent;
    cursor: default;
}



.navbar {
    height: 50px;
    width: calc(100% - 200px);
    background-color: #1a1a1a;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 200px;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: slideInTop 0.5s ease-out;
    transition: width 0.5s ease, left 0.5s ease;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons img,
.navbar-icons button {
    margin-right: 20px;
}

.navbar h2 {
    margin-top: 0;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.navbar a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ddd;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
}



.sidebar-content,
.navbar-content {
    margin-top: 80px;
    padding: 20px;
    color: #ddd;
    font-size: 16px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-bar {
    position: relative;
    margin-left: 75px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: #ccc;
}

.search-bar {
    position: relative;
    margin-left: 75px;
}


.search-bar input[type="text"] {
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 500px;
    background-color: #222;
    color: #ddd;
    margin-right: 5px;
}

.search-bar input[type="text"]:focus {
    border: 2px solid purple;
    outline: none;
}



#search-button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("photo/Untitled.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

#profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

#profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_dropDownMenu {
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: #413a41;
    box-shadow: 0 2px 5px rgba(34, 27, 174, 0.2);
    border-radius: 5px;
    padding: 7px;
    z-index: 1;
    border: 1px solid #413a41;
    width: 140px;
    align-items: center;
    display: none;
    animation: none;



}



.show {
    max-height: 200px;

}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;

}

.menu-item img {
    width: 19px;
    height: 19px;
    padding-left: 4px;

}

.menu-item a {
    text-decoration: solid;
    font-size: 13px;
    color: #ddd;
    padding-right: 4px;
    padding-left: 4px;
    animation: none;
    opacity: 1;
}

@media (max-width: 768px) {
    .navbar-icons {
        justify-content: flex-end;
        width: 100%;
        padding-right: 20px;
    }
}

footer {
    height: 25px;
    background-color: #1a1a1a;
    color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;

}

footer.light-mode {
    background-color: #fff;
    color: #000;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.text-center {
    text-align: center;
    flex-grow: 1;
}

.social-icons {
    margin-left: auto;
    padding-right: 15px;

}

.social-icons a img {
    width: 28px;
    height: auto;
    margin-left: 10px;



}

body.light-mode {
    background-color: #fff;
    color: #000;
}


.navbar.light-mode {
    background-color: #f0f0f0;
    color: #000;
}


.sidebar.light-mode {
    background-color: #f0f0f0;
    color: #000;
}




.sidebar.light-mode a {

    color: #000;
}

.navbar.light-mode a {

    color: #000;
}

body.light-mode .search-bar input[type="text"]:focus {
    border: 2px solid #852b85;
    outline: none;
}

.search-bar input[type="text"].light-mode {
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 500px;
    background-color: #cccbcb;
    color: #222;
    margin-right: 5px;
}


.profile_dropDownMenu .menu-item {
    position: relative;

}

.profile_dropDownMenu .menu-item #toggle-light-mode {
    width: 30px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.profile_dropDownMenu .menu-item #toggle-light-mode::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.profile_dropDownMenu .menu-item #toggle-light-mode.light-mode::before {
    transform: translateX(12px) translateY(-50%);
}

.profile_dropDownMenu.light-mode .menu-item a {
    color: #000;
    transition: none;

}



.profile_dropDownMenu .menu-item a:hover {
    color: #852b85;
    font-weight: bold;
    font-size: 13px;

}



.sidebar.light-mode a:hover {
    color: #800080;
    background-color: #cccbcb;
}


.dark-mode-img {
    display: none;
}

.light-mode .dark-mode-img {
    display: inline;
}

.light-mode .light-mode-img {
    display: none;
}

body.light-mode .profile_dropDownMenu {
    background-color: #f0f0f0;
    border: 1px solid #852b85;

}

.sidebar {

    transition: width 0.5s ease;
}


.sidebar-minimized {
    width: 50px;
}

.sidebar-minimized .sidebar-content {
    display: none;
}

.sidebar.sidebar-minimized a {

    font-size: 0;
}

.sidebar.sidebar-minimized a img {

    display: inline-block;
    margin-right: 0;
    width: 20px;
    height: auto;
    margin-right: 10px;
    transition: width 0.5s ease, left 0.5s ease;

}

.sidebar.sidebar-minimized a .dark-mode-img {
    display: none;
}

.sidebar.light-mode.sidebar-minimized a .dark-mode-img {

    display: inline-block;
    margin-right: 0;
    width: 20px;
    height: auto;
    margin-right: 10px;
    transition: width 0.5s ease, left 0.5s ease;

}


#trial-img.minimized {
    width: 50px;
    height: auto;
    display: block;
    margin-left: -15px;
    margin-top: 20%;
    transform: translateY(-50%);
    margin-bottom: -25px;
    transition: transform 0.3s ease-in-out;
}


.sidebar.sidebar-minimized a .light-mode-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    transition: width 0.5s ease, left 0.5s ease;

}

.sidebar.sidebar-minimized.light-mode a .light-mode-img {
    display: none;
}

.sidebar.sidebar-minimized a .dark-mode-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    transition: width 0.5s ease, left 0.5s ease;

}

.sidebar-minimized+.navbar {
    width: calc(100% - 50px);
    left: 50px;
}

#custom-sidebar-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

#custom-sidebar-img {
    width: 40px;
    height: auto;
    transition: width 0.5s ease;
}


.light-mode #custom-sidebar-img.light-mode-img {
    display: none;
}



.main-content {
    margin-top: 80px;
    transition: transform 0.5s ease;
    margin-right: 100px;


}
@keyframes slideIn {
    from {
        transform: translateY(50px); /* Move the container down */
    }
    to {
        transform: translateY(0); /* Move the container up */
    }
}

.box-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 235px;
    transition: padding-left 0.5s ease;
    padding-bottom: 129px;
    flex-wrap: wrap;
    flex-direction: row;


}

.box {
    width: 230px;
    height: 244px;
    border-radius: 10px;
    background-color: #1a1a1a;
    font-size: 25px;
    margin: 6px 30px;
    padding: 6px 11px;
    border: 1px solid #800080;
    text-decoration: none;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box:hover {
    background-color: #333;
    transform: translateY(-5px);
}

.text {
    color: #ddd;
    font-size: large;
    margin-left: 2px;
}

.text:hover {
    font-weight: bold;
    text-decoration: none;
}

.box img {
    width: 225px;
    height: 211px;
    border-radius: 5px;
    justify-content: center;
    padding: 6px 2px 2px 1px;
}

.box img:hover {
    border: 1px solid #c11dc1;
}

body.light-mode .box {
    background-color: white;
    border: 2px solid #852b85;
}

body.light-mode .text {
    color: #000;
}

body.light-mode .box:hover {
    background-color: #cccbcb;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 36px; /* Adjust font size as needed */
    color: #333; /* Default color for dark mode */
    transition: color 0.3s; /* Smooth transition for color change */
    margin-left: 300px; /* Adjust margin as needed */
    margin-top: 20px; /* Add some top margin for spacing */
}

body.light-mode .title {
    color: #666; /* Color for light mode */
}

.sidebar-minimized + .main-content .title {
    margin-left: 50px; /* Adjust the margin as needed */
}