.communityguide{
   margin-top: -4%;
}

h1{
    margin-left:260px;
    color:darkmagenta ; 
}
h2{
    color:grey;
    margin-left:260px;
    
}

.commguide{
    border-style: solid;
    padding: 40px;
    border-color: #222;
    color: white;
    margin-left:260px;
    margin-right: 20px;
    background-color: #333;
    overflow: auto;
}
 
.light-mode .commguide {
    background-color: white;
    color: black;
    border-color: #c9c9c9;
 }
