
.Contacts h1{
    margin-top: 0px;
}
.contact {
    position: fixed;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 40%;
    align-items: center;
    display: block;
    border: 2px;
    border-style: double;
    background-color: #222;
    border-radius: 30px;
    margin: 30px; 
    padding: 20px;
    text-align: center;
    width: 72%; 
    height: auto; 
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.light-mode .contact {
    background-color: white;
    color: black; 
    border-color: #ccc; 
}


.light-mode .item a {
    color: black; 
}


.light-mode .aboutus pre {
    background-color: white; 
    color: black; 
    border-color: #ccc; 
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.item i {
    font-size: 30px;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: darkmagenta;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.item i:hover {
    background-color: #333;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: darkmagenta;
}

.aboutus pre {
    position: fixed;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 40%;
    align-items: center;
    display: block;
    border: 2px;
    border-style: double;
    background-color: #222;
    border-radius: 30px;
    margin: 30px; 
    padding: 20px;
    text-align: center;
    width: 72%; 
    height: auto; 
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white; 
    overflow: auto; 
    white-space: pre-wrap; 
}

h1{
    margin-left: 260px;
    color: darkmagenta;
}
#con h1{
    margin-top:240px;
    margin-left: 270px;
}
#cov{
    position: fixed;
    top: 80%; 
}

