/* Basic Reset */

.subscribe_container {
    background-color: #303030;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 1050px;
}
.subscribe_container.light-mode {
    background-color: white;
    color: black
}
form {
    display: flex;
    flex-direction: column;
}
label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px; 
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    height: 30px; /* Reduced height */
    padding: 5px 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px; /* Smaller font size for text inside input */
}
.textbox {
    background-color: #292929;
    color: white;
}
input::placeholder {
    color: #888;
}
.error { color: red; }
input:focus,
select:focus {
    border-color: #0078d7;
    outline: none;
}

button {
    background-color: #0a62a3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005792;
}

.error {
    color: #d8000c;
    font-size: 12px;
    margin-bottom: 10px;
}

input:focus,
select:focus {
    border-color: #0078d7;
    outline: none;
}
.light-mode label {
    color: black; /* Color for labels in light mode */
}

.light-mode .textbox {
    background-color: white; /* Background color for inputs in light mode */
    color: black; /* Text color for inputs in light mode */
}
/* Light mode styles */
.light-mode .subscribe_container {
    background-color: #fff; /* Light background for light mode */
    color: #000; /* Dark text for better readability in light mode */
}

/* General input and button styles also need light mode versions */
.light-mode input[type="text"],
.light-mode input[type="email"],
.light-mode input[type="password"],
.light-mode select,
.light-mode button {
    background-color: #fff; /* Light backgrounds for inputs and buttons */
    color: #000; /* Dark text color for readability */
    border: 1px solid #ccc; /* Slightly darker border for better visibility */
}

/* Adjust placeholder color in light mode for better visibility */
.light-mode input::placeholder {
    color: #aaa; /* Light grey color for placeholders */
}

/* Button hover effect in light mode */
.light-mode button:hover {
    background-color: #e1e1e1; /* Lighter grey for hover state */
}
button{
    background-color: magenta;
}
button:hover {
    background-color: black; /* Lighter grey for hover state */
}

.textbox{
    background-color: #292929;
    color: white;
}