


.cursive-titling {
  
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
   
}
.comphoto {
    width: 25%;
    height: 600px;
   margin-top:-100px;
}


.conrs {
    display: flex;
    align-items: center; /* Align items vertically */
}

.comphoto {
    display: inline-block; /* Set the image to inline-block */
    vertical-align: middle; /* Align the image vertically in the line */
}

.text{
    margin-top:0;
}


h2 {
    font-weight: bold;
}



       

/* Media queries for responsiveness */
@media (min-width: 768px) {
    h1, h2 ,p{
        margin-left: 270px; /* Original margin for larger screens */
    }
   p{
        margin-left: 290px; /* Original margin for larger screens */
    }

    .commguide {
        padding: 40px; /* Original padding for larger screens */
        margin-left: 260px; /* Original margin for larger screens */
       
    }
}

/* Additional media query for very small screens */
@media (max-width: 480px) {
    h1, h2, p {
        margin-left: 40%; /* Adjust the margin for smaller screens */
    }

    .commguide {
        padding: 2%; /* Adjust the padding for smaller screens */
        margin-left: 5%; /* Adjust the margin for smaller screens */
        margin-right: 5%;
      
    }
}
