body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    animation: fadeIn 0.1s ease-in; 
  }
  .container {
    position: relative; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:black
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white; 
  }
  
  .row {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    background-color: #222; 
    border-radius: 8px; 
    padding: 10px; 
  }
  
  .card {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card .content {
    padding: 10px;
  }
  
  .card h3 {
    font-size: 16px;
    margin-top: 0;
  }
  
  .card p {
    font-size: 14px;
    margin: 0;
  }
  
  .unit {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 10px;
  }
  .unit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .unit .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .unit:hover img {
    transform: scale(1.1);
  }
  
  .unit:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
  
  .greeting {
    margin: 20px;
    color: white;
  }
  
  .light-mode .greeting {
    color: black;
  }