body {
    margin: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    animation: fadeIn 0.1s ease-in; 
}

.navigationbar {
    background-color: #333;
    color: white;
    position: fixed;
    width: 250px;
    height: 100%;
    transition: width 0.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.navigationbar.minimized{
    width: 125px;

}
#trial-img.trial-img.minimized {
    display: none;
}

.navigationbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

.navigationbar ul li a:hover{
    color:darkmagenta;

}
.navigationbar ul li {
    padding: 10px;
    display: flex;
    align-items: center;
  }

.navigationbar ul li a {
    color: white;
    text-decoration: none;
    transition: opacity 0.1s;
    font-size: large;
    flex: 1;
    padding: 15px;
}

.navigationbar.minimized ul li a span {
    display: none;
}
.navigationbar.minimized ul li a i.minimized {
    display: block; 
  }

#trial-img {
    width: 200px; 
    height: auto;  
    display: block;
    margin-left:20px; 
    padding:10;

} 
.navigationbar.minimized #trial-img {
    display: none;
}
#logo {
    width: 50px;
    height: auto;
    display: none; 
    margin-left: 20px;
    padding: 10px;
}

.navigationbar.minimized #logo {
    display: block; 
}

.toggle-button {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.header {
    padding: 10px;
    text-align: left;
    position: fixed;
    left: 250px; 
    top: 0;
    width: calc(100% - 250px); 
}

.header input[type="text"] {
    padding: 10px;
    position: sticky;
    width: 89%;
    margin-right: 5px;
    box-sizing: border-box; 
    background-color: #222;
    margin: 0;
    border: #222;
    color: white;
}
.header a{
    color: white;
    justify-content: space-between;
    padding: 7px;
    font-size: 20px;
}
.header a:hover{
    color:darkmagenta;
}
.header,.navigationbar {
    color: #ddd; 
    font-size: 16px;
    opacity: 0; 
    animation: fadeIn 0.5s ease-in forwards; 
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
footer {
    position: fixed;
    background-color: #333; 
    padding: 10px 20px; 
    width: 100%;
    height: 50px;
    justify-content: space-between;
    bottom: 0;
}
hr{ /*footer hr*/
    color: white; 
}
footer p{
    color: white; 
    text-align: center; 
}
footer p a{
    color: white;
    justify-content: space-between;
    margin-left: auto; 
    padding-right:15px; 
}
footer p a:hover{
    color:darkmagenta;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: #222;
    box-shadow: 0 2px 5px rgba(34, 27, 174, 0.2);
    border-radius: 3px;
    padding: 7px;
    z-index: 1;
    border: 1px solid #413a41;
    width: 155px;
    align-items: center;
    display: none;
    animation: none;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
}

.dropdown-content a:hover {
    color: darkmagenta;
    
}
.dropdown-content #toggle-light-mode {
    width: 30px; 
    height: 20px; 
    background-color: #ccc;
    border: none;
    border-radius: 15px; 
    position: absolute; 
    top: 50%; 
    right: 15px; 
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#toggle-light-mode::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px; 
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    bottom: 30px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

#toggle-light-mode.light-mode::before {
    transform: translateX(12px) translateY(-50%);
}  

body.light-mode {
    background-color: #fff;
    color: black;
}
.navigationbar.light-mode {
    background-color: #f0f0f0;
    color: black;
    position: fixed;
    width: 250px;
    height: 100%;
    transition: width 0.5s;
    z-index: 1; 
}
.navigationbar.minimized.light-mode{
    width: 125px;

}
.navigationbar.light-mode ul li a:hover{
    color:darkmagenta;
}

.header.light-mode i{
    background-color: white;
    color: black;
}

.header.light-mode i:hover{
    color: darkmagenta;
}
.navigationbar.light-mode ul li a {
    color: black;
}

.header.light-mode input[type="text"] {
    background-color: #cccbcb;
    color: black; 
}
.toggle-button.light-mode {
    background-color: #f0f0f0;
}
.toggle-button.light-mode .bar {
    background-color: black;
}
.dropdown-content.light-mode {
    background-color: #f0f0f0;
}
.dropdown-content.light-mode a {
    color: black;
}
.dropdown-content.light-mode a:hover {
    color: darkmagenta;
    font-weight: bold;
}
footer.light-mode a{
   color: black;
}
footer.light-mode hr {
    color: black;
}
footer.light-mode{
    background-color: #cccbcb;
 }
 footer.light-mode p{
   color: black;
 }
